* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #000000;
  color: #39ff14;
}

.primary-color {
  background-color: #1e1e1e;
}

.secondary-color {
  background-color: #2b2b2b;
}

.primary-button {
  background-color: #ff007f;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 0, 127, 0.8);
}

.primary-button:hover {
  background-color: #e6007f;
  box-shadow: 0 0 15px rgba(255, 0, 127, 1);
}

.primary-button:disabled {
  background-color: #b3b3b3;
  color: #7f7f7f;
  cursor: not-allowed;
}

.input {
  background-color: #1e1e1e;
  color: #39ff14;
  border: 2px solid #39ff14;
}

.input:disabled {
  background-color: #2b2b2b;
  color: #7f7f7f;
  cursor: not-allowed;
}

.warn-font {
  color: #f5f500;
}

.success-font {
  color: #00ff00;
}

.toolbar {
  width: 100%;
  height: 70px;
  margin-bottom: 30px;
  padding: 15px;
  background-color: #1e1e1e;
  box-shadow: 0 0 10px rgba(0, 204, 255, 0.8);
  display: flex;
  align-items: center;
}

.toolbar > .user-info {
  margin-left: auto;
  display: flex;
  align-items: center;
}

header > .user-info > img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 204, 255, 0.8);
}

.container > .card:hover {
  background-color: #2b2b2b;
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(0, 204, 255, 0.89);
}

.roboto-thin {
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-weight: 900;
  font-style: italic;
}


.link {
  text-decoration: none;
  color: white;
}

.link:hover{
  color:  rgb(196, 196, 196);
}