<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learnify</title>

    <link
      rel="icon"
      href="../../assets/images/education-technology.png"
      type="image/png"
    />
    <link rel="stylesheet" href="../../common.css" />
    <link rel="stylesheet" href="study-track.css" />
  </head>
  <body>
    <main class="container"></main>

    <script src="../../loaders/loader-header.js"></script>
    <!-- <script src="../../loaders/loader-font.js"></script> -->
    <script src="../../appState.js"></script>
    <script src="../../services/login-service.js"></script>
    <script src="../../services/study-track-service.js"></script>
    <script src="../../services/routing-service.js"></script>
  </body>
</html>
