<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learnify</title>

    <link
      rel="icon"
      href="../../assets/images/education-technology.png"
      type="image/png"
    />
    <link rel="stylesheet" href="../../common.css" />
    <link rel="stylesheet" href="classroom-details.css" />
  </head>
  <body>
    <main class="container">
      <!-- <div class="card primary-color" id="study-track" onclick="redirectToStudyTrack('../study-track/study-track.html')"> -->
      <div
        class="card primary-color"
        id="study-track"
        onclick="redirectToStudyTrack('/components/study-track/study-track.html')"
      >
        <div class="info">
          <h3 class="roboto-black">Trilha</h3>
          <p>Trilha principal do curso</p>
        </div>
        <img src="../../assets/images/rocket.png" alt="image" />
        <p class="percentage">0% completo</p>
      </div>
      <div class="card primary-color">
        <div class="info">
          <h3 class="roboto-black">Suporte a dúvidas</h3>
          <p>Forum de perguntas e respostas</p>
        </div>
        <img src="../../assets/images/support.png" alt="image" />
      </div>
      <div class="card primary-color">
        <div class="info">
          <h3 class="roboto-black">Lives técnicas</h3>
          <p>Tire suas dúvidas ao vivo</p>
        </div>
        <img src="../../assets/images/live.png" alt="image" />
      </div>
      <div class="card primary-color">
        <div class="info">
          <h3 class="roboto-black">Carreira</h3>
          <p>Mentoria e dicas</p>
        </div>
        <img src="../../assets/images/carreer.png" alt="image" />
      </div>
      <div class="card primary-color">
        <div class="info">
          <h3 class="roboto-black">Comunidade exclusiva</h3>
          <p>Ajuda e troca de ideias</p>
        </div>
        <img src="../../assets/images/community.png" alt="image" />
      </div>
      <div class="card primary-color">
        <div class="info">
          <h3 class="roboto-black">Bônus</h3>
          <p>Conteúdos bônus suplementares</p>
        </div>
        <img src="../../assets/images/bonus.png" alt="image" />
      </div>
    </main>

    <script src="../../appState.js"></script>
    <script src="../../loaders/loader-header.js"></script>
    <!-- <script src="../../loaders/loader-font.js"></script> -->
    <script src="../../services/login-service.js"></script>
    <script src="../../services/classroom-details-service.js"></script>
    <script src="../../services/routing-service.js"></script>
  </body>
</html>
