<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learnify</title>

    <!-- GihubPages -->
    <link
      rel="icon"
      href="/Learnify/assets/images/education-technology.png"
      type="image/png"
    />
    <link rel="stylesheet" href="/Learnify/common.css" />

    <!-- Local -->
    <!-- <link
      rel="icon"
      href="/assets/images/education-technology.png"
      type="image/png"
    /> 
    <link rel="stylesheet" href="/common.css" /> -->

    <link rel="stylesheet" href="classroom-details.css" />

    <!-- Roboto font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="toolbar primary-color">
      <h3 class="roboto-black">Learnify</h3>
      <div class="user-info">
        <span id="username"></span>
        <img src="/assets/images/user.png" alt="User photo" />
        <!-- <img src="/Learnify/assets/images/user.png" alt="User photo" /> -->
      </div>
    </header>
    <main class="container">
      <div class="card primary-color" id="study-track" onclick="redirectToStudyTrack('../study-track/study-track.html')">
        <div class="info">
          <h3 class="roboto-black">Trilha</h3>
          <p>Trilha principal do curso</p>
        </div>
        <!-- <img src="/assets/images/rocket.png" alt="image" /> -->
        <img src="/Learnify/assets/images/rocket.png" alt="image" />
        <p class="percentage">0% completo</p>
      </div>
      <div class="card primary-color">
        <div class="info">
          <h3 class="roboto-black">Suporte a dúvidas</h3>
          <p>Forum de perguntas e respostas</p>
        </div>
        <!-- <img src="/assets/images/support.png" alt="image" /> -->
        <img src="/Learnify/assets/images/support.png" alt="image" />
      </div>
      <div class="card primary-color">
        <div class="info">
          <h3 class="roboto-black">Lives técnicas</h3>
          <p>Tire suas dúvidas ao vivo</p>
        </div>
        <!-- <img src="/assets/images/live.png" alt="image" /> -->
        <img src="/Learnify/assets/images/live.png" alt="image" />
      </div>
      <div class="card primary-color">
        <div class="info">
          <h3 class="roboto-black">Carreira</h3>
          <p>Mentoria e dicas</p>
        </div>
        <!-- <img src="/assets/images/carreer.png" alt="image" /> -->
        <img src="/Learnify/assets/images/carreer.png" alt="image" />
      </div>
      <div class="card primary-color">
        <div class="info">
          <h3 class="roboto-black">Comunidade exclusiva</h3>
          <p>Ajuda e troca de ideias</p>
        </div>
        <!-- <img src="/assets/images/community.png" alt="image" /> -->
        <img src="/Learnify/assets/images/community.png" alt="image" />
      </div>
      <div class="card primary-color">
        <div class="info">
          <h3 class="roboto-black">Bônus</h3>
          <p>Conteúdos bônus suplementares</p>
        </div>
        <!-- <img src="/assets/images/bonus.png" alt="image" /> -->
        <img src="/Learnify/assets/images/bonus.png" alt="image" />
      </div>
    </main>

    <!-- JS -->
    <!-- <script src="/services/login-service.js"></script>
    <script src="/services/classroom-details-service.js"></script>
    <script src="/services/routing-service.js"></script> -->

    <!-- Github pages -->
    <script src="/Learnify/services/login-service.js"></script>
    <script src="/Learnify/services/classroom-details-service.js"></script>  
    <script src="/Learnify/services/routing-service.js"></script>
  </body>
</html>
